---
version: 1
interactions:
- request:
    body: ""
    form: {}
    headers:
      Content-Type:
      - application/json
    url: https://api.cloudflare.com/client/v4/accounts/f037e56e89293a057740de681ac9abbe/gateway/lists
    method: GET
  response:
    body: |
      {
        "result": [
          {
            "id": "8fb114d8-f8dc-41af-8102-358741ec1543",
            "name": "c02-domain_list",
            "description": "Blacklist URL Block List",
            "type": "DOMAIN",
            "created_at": "2023-10-06T18:11:49Z",
            "updated_at": "2023-10-06T18:11:49Z",
            "count": 2
          },
          {
            "id": "1a365858-af2a-40fd-b625-97e62c318ade",
            "name": "c02-ip_list",
            "description": "Blacklist URL Block List",
            "type": "IP",
            "created_at": "2023-10-06T18:11:49Z",
            "updated_at": "2023-10-06T18:11:49Z",
            "count": 1
          },
          {
            "id": "0d05c431-8be4-4786-8606-2cbbbff8ea6c",
            "name": "c02-url_list",
            "description": "Blacklist URL Block List",
            "type": "URL",
            "created_at": "2023-10-06T18:11:49Z",
            "updated_at": "2023-10-06T18:11:49Z",
            "count": 3
          }
        ],
        "success": true,
        "errors": [],
        "messages": []
      }
    headers:
      Content-Type:
      - application/json
    status: 200 OK
    code: 200
    duration: ""
- request:
    body: ""
    form: {}
    headers:
      Content-Type:
      - application/json
    url: https://api.cloudflare.com/client/v4/accounts/f037e56e89293a057740de681ac9abbe/gateway/lists/8fb114d8-f8dc-41af-8102-358741ec1543/items?page=1&per_page=50
    method: GET
  response:
    body: |
      {
        "result": [
          {
            "value": "pyuqepzt.org",
            "created_at": "2023-10-06T18:11:49Z"
          },
          {
            "value": "pmllbpxikwpl.org",
            "created_at": "2023-10-06T18:11:49Z"
          }
        ],
        "success": true,
        "errors": [],
        "messages": [],
        "result_info": {
          "page": 1,
          "per_page": 50,
          "count": 50,
          "total_count": 2,
          "total_pages": 1
        }
      }
    headers:
      Content-Type:
      - application/json
    status: 200 OK
    code: 200
    duration: ""
[...]
